@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("font.css");
@import url("remixIcon/remixicon.css");
@import url("materialdesignicons/materialdesignicons.min.css");
@import url("ui-layout.css");
@import url("ui-common.css");



html, body, ul, ol, li, dl, dt, dd, form, fieldset, legend, label, input, section, article, aside, span, p, 
nav, h1, h2, h3, h4, h5, h6, img, figure, figcaption, table, colgroup, thead, tbody, th, tr, td, 
select, option, div, time, caption, a, header, footer, button{margin:0; padding:0; box-sizing:border-box;}
header,footer,section,article,aside,nav{display:block;}
section h2, article h2{position:absolute; overflow:hidden; border:0; width: 1px; height: 1px; clip:rect(1px, 1px, 1px, 1px); clip-path:inset(50%); margin-left:-1px; }

* {box-sizing: border-box;}
/*{-webkit-appearance: none; -moz-appearance: none; appearance: none;}*/

html {-ms-text-size-adjust: none; -webkit-text-size-adjust: none; text-size-adjust: none; box-sizing: border-box;}
html, body{width:100%; height:100%;}
body{font-family: 'Poppins', 'notokr',sans-serif; font-size:16px; font-weight:400; color:#000; letter-spacing:-0.02em; line-height:1.5; box-sizing:border-box; min-height: 100vh; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -ms-text-size-adjust: none; -webkit-text-size-adjust: none; text-size-adjust: none;}

h1, h2, h3, h4, h5, h6{font-weight:normal;}
ul, ol{list-style-type:none;}
em, u, cite, i {font-style: normal}
img{max-width:100%; height:auto; display:block;}
img, fieldset, iframe, button {border: 0 none;}
i{color:#000000;}
a {color: #000000; outline-offset: 1px; text-decoration: none; box-sizing: border-box;}
a:hover{text-decoration:none;}
a.hover-underline:hover{text-decoration:underline;}

/*===== Form =====*/
button {background: none; outline:none; font-family: 'Poppins', 'notokr',sans-serif; font-size:16px; cursor: pointer; box-sizing: border-box; border: 0 none; border-radius:0;}
input, textarea {-webkit-border-radius:0; -webkit-appearance:none; outline:none; font-family: 'notokr',sans-serif; font-size:16px; color: #000; box-sizing: border-box; border-radius:5px; border:1px solid #CCCCCC;}

::-webkit-input-placeholder{color:#BCBCBC;}/* Chrome/Opera/Safari */
::-moz-placeholder{color: #BCBCBC;}/* Firefox 19+ */
:-ms-input-placeholder{color: #BCBCBC;}/* IE 10+ */
:-moz-placeholder{color: #BCBCBC;}/* Firefox 18- */

input::placeholder{color:#BCBCBC;}
input::-webkit-placeholder{color:#BCBCBC;}
input::-moz-placeholder{color:#BCBCBC;}
input:-ms-input-placeholder{color:#BCBCBC;}

textarea::placeholder{color:#BCBCBC;}
textarea::-webkit-placeholder{color:#BCBCBC;}
textarea::-moz-placeholder{color:#BCBCBC;}
textarea:-ms-input-placeholder{color:#BCBCBC;}

input:focus,
textarea:focus{border:1px solid #000;}

input:disabled,
textarea:disabled{border:1px solid #ddd; background:#F8F8F9; color:#BCBCBC;}

/*===== Skip Navi =====*/
.skip, legend, .blind{/*읽히면서 숨김*/position:absolute; overflow:hidden; border:0; width: 1px; height: 1px; clip:rect(1px, 1px, 1px, 1px); clip-path:inset(50%); margin-left:-1px; }
caption{text-indent:-100000px; font-size:0; width:1px; height:1px;}/*safari_테이블캡션숨김*/
.hidden {/*안읽히면서 숨김*/display: none !important;}

#skipNavi{position:absolute; z-index:999; width:100%; height:10px;}
#skipNavi a{position:absolute; top:-100px;}
#skipNavi a:hover, #skipNavi a:active, #skipNavi a:focus{
	position:absolute;
	top:0;
	font-weight:bold;
	font-size:1.7rem;
	padding:1.5rem;
	color:#ffffff;
	background-color:#e02d32;
	border:1px dotted #333;
	display:block;
	width:100%;
	text-align:center;
}

/*===== Table =====*/
table{border-spacing:0; border-collapse:collapse; width:100%;}
th, td {border-collapse: collapse}
.tbl-fixed{table-layout:fixed;}

/*===== Bg =====*/
.bg-n{background:none !important;}
.bg-img-n{background-image:none !important;}

/*===== Border =====*/
.bd-n{border:none !important;}
.bdl-n{border-left:none !important;}
.bdr-n{border-right:none !important;}
.bdt-n{border-top:none !important;}
.bdb-n{border-bottom:none !important;}

/*===== Font Size =====*/
.fn-size0, .fn-size0 *{font-size:0 !important;}
.fn-size12, .fn-size12 *{font-size:12px !important;}
.fn-size13, .fn-size13 *{font-size:13px !important;}
.fn-size14, .fn-size14 *{font-size:14px !important;}
.fn-size15, .fn-size15 *{font-size:15px !important;}
.fn-size16, .fn-size16 *{font-size:16px !important;}
.fn-size18, .fn-size18 *{font-size:18px !important;}
.fn-size20, .fn-size20 *{font-size:20px !important;}
.fn-size24, .fn-size24 *{font-size:24px !important;}
.fn-size26, .fn-size26 *{font-size:26px !important;}

/*===== Font Weight =====*/
.fn-bold {font-weight:600 !important;}
.fn-medium {font-weight:500 !important;}
.fn-normal {font-weight:400 !important;}
.fn-w400 {font-weight:400 !important;}
.fn-w500 {font-weight:500 !important;}
.fn-w600 {font-weight:600 !important;}
.fn-w700 {font-weight:700 !important;}

/*===== Color =====*/
.txt-basic{color:#333333 !important}
.txt-grey{color:#777777 !important}
.txt-black{color:#000000 !important}
.txt-white{color:#ffffff !important}
.txt-red{color:#ff0000 !important}
.txt-point{color:#2654C9 !important}
.txt-point2{color:#ffd84c !important}
.txt-obj1{color:#f47726 !important}
.txt-obj2{color:#45549f !important}
.txt-obj3{color:#555555 !important}
.txt-obj4{color:#999999 !important}
.txt-obj5{color:#e07900 !important}
.txt-obj6{color:#1797c6 !important}


.bg-basic{background:#333333 !important}
.bg-black{background:#000000 !important}
.bg-white{background:#ffffff !important}
.bg-red{background:#e51937 !important}
.bg-point{background:#695243 !important}
.bg-obj1{background:#f47726 !important}
.bg-obj2{background:#45549f !important}
.bg-obj3{background:#555555 !important}
.bg-obj4{background:#999999 !important}

.bor-basic{border:1px solid #333333}
.bor-black{border:1px solid #000000}
.bor-white{border:1px solid #ffffff}
.bor-red{border:1px solid #e51937}
.bor-point{border:1px solid #695243}
.bor-obj1{border:1px solid #f47726}
.bor-obj2{border:1px solid #45549f}
.bor-obj3{border:1px solid #555555}
.bor-obj4{border:1px solid #999999}




/*===== Align =====*/
.txt-c, .txt-c td, .txt-c th {text-align: center !important}
.txt-l, .txt-l td, .txt-l th {text-align: left !important}
.txt-r, .txt-r td, .txt-r th {text-align: right !important}
.ver-a-t {vertical-align: top !important}
.ver-a-m {vertical-align: middle !important}
.ver-a-n {vertical-align: inherit !important}
.ver-a-b {vertical-align: bottom !important}
.ver-a-base{vertical-align: baseline !important}
.vert-a-tb {vertical-align: text-bottom !important}
/*under-line*/
.under-line{position:relative;}
.under-line:before, .under-line::before{content:''; position:absolute; bottom:0; left:0; width:100%; height:1px; background:#333;}
.under-line.blue-color, .under-line.blue-color *{color:blue;}
.under-line.blue-color:before, .under-line.blue-color::before{background:blue;}

/*===== Float =====*/
.float-l {float: left !important}
.float-r {float: right !important}
.clear-b {clear: both !important;}
.clear-l {clear: left !important;}
.clear-r {clear: right !important;}
.clfix {*zoom: 1;}
.clfix:before, .clfix:after {display: table; line-height: 0; content: "";}

/*===== Text =====*/
.keep-all {word-break:keep-all !important;}
.break-all{word-break:break-all !important;}
.ellip {position: relative; overflow: hidden; display:inline-block; zoom:1; *display:inline; text-overflow: ellipsis; white-space: nowrap; word-break: normal; vertical-align:top;}
.error-mes {display: block; clear: both; margin-top: 6px !important; color: #e51937; font-size: 14px; line-height: 1.3;}
.noti-text{font-size:14px; line-height:1.5; color:#777777; position:relative;}
span.required{position:relative;}
span.required:before, span.required::before{content:'*'; display:inline-block; color:#e51937; font-size:16px; line-height:1; margin-right:4px; vertical-align:middle; vertical-align:text-bottom;}
.dash-txt{vertical-align: middle !important; padding: 0 4px; text-align: center; width:16px; font-size:15px;}
.no-data{color:#777777; text-align:center;}
.native_scroll::-webkit-scrollbar{display: none;}


/*===== Display =====*/
.display-in {display: inline !important}
.display-in-b {display: inline-block !important; display:inline-block; zoom:1; *display:inline;}
.display-b {display: block !important}
.overflow-h{overflow:hidden;}
/*flex*/
.dis-flex, .flex-box{display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex;}
.dis-direct-col{-webkit-box-orient:vertical; -webkit-flex-direction:column; -ms-flex-direction:column; flex-direction:column;}
.flex-grow1{-webkit-box-flex:1; -webkit-flex-grow:1; -ms-flex-positive:1; flex-grow:1; flex-basis:0;}
.flex-grow0{-webkit-box-flex:0; -webkit-flex-grow:0; -ms-flex-positive:0; flex-grow:0;}
.flex-shrink1{-webkit-flex-shrink:1; -ms-flex-negative:1; flex-shrink:1;}
.flex-shrink0{-webkit-flex-shrink:0; -ms-flex-negative:0; flex-shrink:0;}
.flex-basis0{flex-basis:0;}
.align-item-center{-webkit-box-align:center; -webkit-align-items:center; -ms-flex-align:center; align-items:center;}
.mo-show{display:none;}

/*===== Margin =====*/
.mg-0{margin:0 !important;}
.m-auto{margin:0 auto !important;}

/*===== Padding =====*/
.pd-0{padding:0 !important;}

/*===== no-scroll =====*/
.no-scroll{overflow:hidden; width:100%; height:100%; touch-action:none;}
.no-drag {-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}

/*===== Width (%) =====*/
.w5{width:5% !important;}
.w10{width:10% !important;}
.w15{width:15% !important;}
.w20{width:20% !important;}
.w25{width:25% !important;}
.w30{width:30% !important;}
.w35{width:35% !important;}
.w40{width:40% !important;}
.w45{width:45% !important;}
.w50{width:50% !important;}
.w55{width:55% !important;}
.w60{width:60% !important;}
.w65{width:65% !important;}
.w70{width:70% !important;}
.w75{width:75% !important;}
.w80{width:80% !important;}
.w85{width:85% !important;}
.w90{width:90% !important;}
.w95{width:95% !important;}
.w100{width:100% !important; min-width: 100% !important;}


/*===== Width (px) =====*/
[class^='w-']{min-width:auto !important;}
.w-10px{width:10px !important;}
.w-20px{width:20px !important;}
.w-30px{width:30px !important;}
.w-40px{width:40px !important;}
.w-50px{width:50px !important;}
.w-60px{width:60px !important;}
.w-70px{width:70px !important;}
.w-80px{width:80px !important;}
.w-90px{width:90px !important;}
.w-100px{width:100px !important;}
.w-110px{width:110px !important;}
.w-120px{width:120px !important;}
.w-130px{width:130px !important;}
.w-140px{width:140px !important;}
.w-150px{width:150px !important;}
.w-160px{width:160px !important;}
.w-170px{width:170px !important;}
.w-180px{width:180px !important;}
.w-190px{width:190px !important;}
.w-200px{width:200px !important;}
.w-210px{width:210px !important;}
.w-220px{width:220px !important;}
.w-230px{width:230px !important;}
.w-240px{width:240px !important;}
.w-250px{width:250px !important;}
.w-260px{width:260px !important;}
.w-270px{width:270px !important;}
.w-280px{width:280px !important;}
.w-290px{width:290px !important;}
.w-300px{width:300px !important;}
.w-310px{width:310px !important;}
.w-320px{width:320px !important;}
.w-330px{width:330px !important;}
.w-340px{width:340px !important;}
.w-350px{width:350px !important;}
.w-360px{width:360px !important;}
.w-370px{width:370px !important;}
.w-380px{width:380px !important;}
.w-390px{width:390px !important;}
.w-400px{width:400px !important;}
.w-410px{width:410px !important;}
.w-420px{width:420px !important;}
.w-430px{width:430px !important;}
.w-440px{width:440px !important;}
.w-450px{width:450px !important;}
.w-460px{width:460px !important;}
.w-470px{width:470px !important;}
.w-480px{width:480px !important;}
.w-490px{width:490px !important;}
.w-500px{width:500px !important;}
.w-600px{width:600px !important;}

/*===== Padding =====*/
/*padding-top*/
.pt-0{padding-top:0 !important;}
.pt-5{padding-top:5px !important;}
.pt-7{padding-top:7px !important;}
.pt-8{padding-top:8px !important;}
.pt-10{padding-top:10px !important;}
.pt-12{padding-top:12px !important;}
.pt-15{padding-top:15px !important;}
.pt-20{padding-top:20px !important;}
.pt-24{padding-top:24px !important;}
.pt-25{padding-top:25px !important;}
.pt-30{padding-top:30px !important;}
.pt-35{padding-top:35px !important;}
.pt-40{padding-top:40px !important;}
.pt-45{padding-top:45px !important;}
.pt-50{padding-top:50px !important;}
/*padding-bottom*/
.pb-0{padding-bottom:0 !important;}
.pb-5{padding-bottom:5px !important;}
.pb-7{padding-bottom:7px !important;}
.pb-8{padding-bottom:8px !important;}
.pb-10{padding-bottom:10px !important;}
.pb-12{padding-bottom:12px !important;}
.pb-15{padding-bottom:15px !important;}
.pb-20{padding-bottom:20px !important;}
.pb-25{padding-bottom:25px !important;}
.pb-30{padding-bottom:30px !important;}
.pb-33{padding-bottom:33px !important;}
.pb-35{padding-bottom:35px !important;}
.pb-40{padding-bottom:40px !important;}
.pb-45{padding-bottom:45px !important;}
.pb-50{padding-bottom:50px !important;}
/*padding-left*/
.pl-0{padding-left:0 !important;}
.pl-3{padding-left:3px !Important;}
.pl-5{padding-left:5px !Important;}
.pl-6{padding-left:6px !Important;}
.pl-8{padding-left:8px !Important;}
.pl-10{padding-left:10px !important;}
.pl-12{padding-left:12px !Important;}
.pl-15{padding-left:15px !Important;}
.pl-20{padding-left:20px !important;}
.pl-25{padding-left:25px !important;}
.pl-30{padding-left:30px !important;}
/*padding-right*/
.pr-0{padding-right:0 !important;}
.pr-3{padding-right:3px !important;}
.pr-5{padding-right:5px !important;}
.pr-6{padding-right:6px !important;}
.pr-10{padding-right:10px !important;}
.pr-15{padding-right:15px !important;}
.pr-20{padding-right:20px !important;}
.pr-25{padding-right:25px !important;}
.pr-30{padding-right:30px !important;}
.pr-90{padding-right:90px !important;}

/*===== Margin =====*/
/*margin-top*/
.mt-0{margin-top:0 !important;}
.mt-3{margin-top:3px !important;}
.mt-5{margin-top:5px !important;}
.mt-6{margin-top:6px !important;}
.mt-7{margin-top:7px !important;}
.mt-10{margin-top:10px !important;}
.mt-16{margin-top:16px !important;}
.mt-20{margin-top:20px !important;}
.mt-24{margin-top:24px !important;}
.mt-30{margin-top:30px !important;}
.mt-33{margin-top:33px !important;}
.mt-35{margin-top:35px !important;}
/*margin-bottom*/
.mb-0{margin-bottom:0 !important;}
.mb-5{margin-bottom:5px !important;}
.mb-10{margin-bottom:10px !important;}
.mb-20{margin-bottom:20px !important;}
.mb-25{margin-bottom:25px !important;}
.mb-30{margin-bottom:30px !important;}
.mb-35{margin-bottom:35px !important;}
.mb-80{margin-bottom:80px !important;}
.mb-90{margin-bottom:90px !important;}
.mb-100{margin-bottom:100px !important;}
/*margin-left*/
.ml-0{margin-left:0 !important;}
.ml-5{margin-left:5px !important;}
.ml-10{margin-left:10px !important;}
.ml-15{margin-left:15px !important;}
.ml-18{margin-left:18px !important;}
.ml-20{margin-left:20px !important;}
.ml-24{margin-left:24px !important;}
.ml-25{margin-left:25px !important;}
.ml-30{margin-left:30px !important;}
.ml-35{margin-left:35px !important;}
/*margin-right*/
.mr-0{margin-right:0 !important;}
.mr-5{margin-right:5px !important;}
.mr-7{margin-right:7px !important;}
.mr-10{margin-right:10px !important;}
.mr-15{margin-right:15px !important;}
.mr-20{margin-right:20px !important;}
.mr-25{margin-right:25px !important;}
.mr-30{margin-right:30px !important;}
.mr-35{margin-right:35px !important;}
/*컨텐트 기본 하단 마진 클래스*/
.con-mb-thin{margin-bottom:20px !important;}
.con-mb-light{margin-bottom:30px !important;}
.con-mb-base{margin-bottom:40px !important;}
.con-mb-large{margin-bottom:60px !important;}






/*===== Tablet =====*/
@media screen and (min-width: 768px) and (max-width: 1023px), (max-width: 767px) {
    .con-mb-large{margin-bottom:40px !important;}
	.mo-fn-size16{font-size:16px !important;}
}




