@charset "utf-8";

/*========== Base ==========*/
.base-wrap{position:relative; width:100%; margin:0 auto;}
.base-wrap .base-header{position:absolute; top:0; left:0; z-index:1; width:100%; height:68px;}
.base-wrap .base-index{position:relative; width:100%; height:100vh; padding-top:68px;}
.base-wrap .base-container{position:relative; width:100%; min-height:100vh; padding-top:68px;}
.base-wrap .base-container.full-type{height:100vh;}
.base-wrap .base-container .sub-content{position:relative; width:100%; max-width:1300px; margin:0 auto; padding:46px 0 80px 0;}
.base-wrap .base-container .full-content{width:100%; min-height:calc(100vh - 68px); padding:0; display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex;}
.base-wrap .base-container .full-content > .con-wrap{overflow:hidden; margin-left:480px; -webkit-box-flex:1; -webkit-flex-grow:1; -ms-flex-positive:1; flex-grow:1; padding:82px 100px 100px 100px;}
.base-wrap .base-container .full-content > .side-con-wrap{position:fixed; padding:150px 60px 0 60px; width:480px; min-height:100%; margin-top:-68px; background:#FAFAFA; -webkit-box-flex:0; -webkit-flex-grow:0; -ms-flex-positive:0; flex-grow:0; -webkit-flex-shrink:0; -ms-flex-negative:0; flex-shrink:0;}
.html-guide{padding:40px;}
.html-guide .html-guide-desc{margin-bottom:32px;}
.html-guide .html-guide-desc h1{font-size:24px; font-weight:600; margin-bottom:12px;}
.html-guide .html-guide-desc .guide-desc{margin-top:12px; border:1px solid #ccc; background:#f8f8f8; padding:16px; font-family:'notokr',sans-serif;}

/*========== Header ==========*/
.base-header .header-wrap{width:100%; display:table; table-layout:fixed; padding:20px 24px;}
.base-header .header-wrap > *{display:table-cell; vertical-align:middle;}
.base-header .header-wrap .header-left h1 img{width:197px; height:auto;}
.base-header .header-wrap .header-right{text-align:right;}
.base-header .header-wrap .header-right .util-wrap{position:relative;}
.base-header .header-wrap .header-right .util-wrap ul.util-menu{position:relative;}
.base-header .header-wrap .header-right .util-wrap ul.util-menu > li{display:inline-block; margin:0 4px;}
.base-header .header-wrap .header-right .util-wrap ul.util-menu > li .ui-btn{padding: 0 12px;}
.base-header .header-wrap .header-right .util-wrap ul.util-menu > li:last-child .ui-btn{padding-right:0;}
.base-header .header-wrap .header-right .util-wrap ul.util-menu > li .ui-btn > i{font-size:24px;}


/*========== Main ==========*/
.base-index .main-visual{position:relative; width:100%; height:100%;}
.base-index .main-visual .visual-img{position:absolute; bottom:120px; right:157px;}
.base-index .main-visual .visual-img img{width:820px; height:auto;}
.base-index .main-visual .visual-tit{width:100%; z-index:1; position:absolute; top:50%; left:0; transform:translateY(-50%); margin-top:-50px; padding:0 200px;}
.base-index .main-visual .visual-tit .tit-top .area-sel-wrap .key-txt{font-size:72px; font-weight:200; line-height:1.3; margin-top:16px;}
.base-index .main-visual .visual-tit .tit-top .visual-sub-txt{font-size:22px; color:#777; margin-top: 32px;}
.base-index .main-visual .visual-tit .tit-top + .btn-wrap{margin-top:72px;}
.base-index .main-visual .visual-tit .tit-top + .btn-wrap button{min-width:180px;}
/*area-sel-depth*/
.area-sel-depth{margin-top:24px; display:none;}
.area-sel-depth.depth-on{display:block;}
.base-index .main-visual .visual-tit .tit-top .area-sel-wrap .area-sel-depth .key-txt,
.area-sel-depth .dropdown .select > span,
.area-sel-depth .dropdown .select > i{font-size:42px;}
.area-sel-depth .dropdown .select > i{line-height:42px;}
.area-sel-depth .dropdown .select{padding:8px 2px;}
.area-sel-depth .dropdown .select > span{padding:10px 6px 10px 0;}


/*========== bPopup ==========*/
/*========== bPopup Custom ==========*/
.bPopup-wrap{position:relative; background-color:#fff; display:none; min-width:400px; min-height: 140px; border-radius:20px;}
.bPopup-wrap .bPop-wrap-inner{width:100%; height:100%; display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex; -webkit-box-orient:vertical; -webkit-flex-direction:column; -ms-flex-direction:column; flex-direction:column; position: relative;}
/*bPop-header*/
.bPopup-wrap .bPop-wrap-inner .bPop-header{-ms-flex:0 1 auto; -webkit-flex:0 1 auto; flex:0 1 auto; width:100%; padding:16px 26px 16px 30px; border-bottom:1px solid #CCCCCC; position:relative; display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex; -webkit-box-align:center; -ms-flex-align:center; align-items:center;}
.bPopup-wrap .bPop-wrap-inner .bPop-header .pop-head-title{-ms-flex:1 1 auto; -webkit-flex:1 1 auto; flex:1 1 auto; font-size:22px; line-height:1.2; font-weight:600;}
.bPopup-wrap .bPop-wrap-inner .bPop-header .pop-head-right{-ms-flex:0 1 auto; -webkit-flex:0 1 auto; flex:0 1 auto;}
.bPopup-wrap .bPop-wrap-inner .bPop-header .pop-head-right .ui-btn{height:auto; padding:0;}
.bPopup-wrap .bPop-wrap-inner .bPop-header .pop-head-right .ui-btn .mdi{font-size:30px; line-height:1;}
/*bPop-content*/
.bPopup-wrap .bPop-wrap-inner .bPop-content{-ms-flex:1 1 auto; -webkit-flex:1 1 auto; flex:1 1 auto; padding:28px 30px 36px 30px; overflow-y:auto;}
/*bPop-footer*/
.bPopup-wrap .bPop-wrap-inner .bPop-footer{-ms-flex:0 1 auto; -webkit-flex:0 1 auto; flex:0 1 auto; width:100%; padding:10px 24px; border-top:1px solid #EAEAEA; position:relative;}
/*full-popup*/
.bPopup-wrap.full-popup{width:100% !important; height:100% !important; left:0 !important; top:0 !important; min-width:1100px;}
/*window popup*/
.bPopup-wrap.window-popup{display:block; height:100vh;}
/*noti popup*/
.noti-top-ico{width:100%; text-align:center; margin:12px 0;}
.noti-top-ico .icon-shape{display:inline-block; position:relative; width:48px; height:48px; border-radius:100px; background:#F4F4F4;}
.noti-top-ico .icon-shape > i{color:#a1a1a1; font-size:24px; line-height:48px;}
.noti-bottom-text{width:100%; text-align:center; margin-bottom:24px;}
.noti-bottom-text .pop-noti-mesg{margin:16px 0;}
.noti-bottom-text hr{border:none; border-bottom:1px solid #DDDDDD;}


/*===== Pop =====*/
.dim-layer {opacity:0; visibility:hidden; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 100;}
.dim-layer.state-opened{opacity: 1; visibility: visible; transition:all 0.5s;}
.dim-layer .pop-layer {display:block; width:90%; overflow:hidden; position:fixed; top:50%; transform:translateY(-40%); transition:all 0.5s; right:0; left:0; z-index:999; margin:0 auto; background:#FFFFFF; border-radius:20px;}
.dim-layer.state-opened .pop-layer {transform:translateY(-50%); transition:all 0.5s;}
.dim-layer .dimBg {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity: 0.5; filter: alpha(opacity=50);}
.dim-layer .pop-layer .pop-container{max-height:85vh; display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex; -webkit-box-orient:vertical; -webkit-flex-direction:column; -ms-flex-direction:column; flex-direction:column;}
.dim-layer .pop-layer .pop-header {position: relative; width:100%; z-index:1;}
.dim-layer .pop-layer .pop-header .pop-tit-wrap{position: relative; display: table; width: 100%; table-layout: fixed; height: 56px; padding:0 16px; padding:16px 24px 16px 24px; border-bottom:1px solid #DDDDDD; display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex; -webkit-box-align:center; -webkit-align-items:center; -ms-flex-align:center; align-items:center;} 
.dim-layer .pop-layer .pop-header .pop-tit-wrap > * > *{float:left;}
.dim-layer .pop-layer .pop-header .pop-tit-wrap .tit{width:100%; -webkit-box-flex:1; -webkit-flex-grow:1; -ms-flex-positive:1; flex-grow:1;}
.dim-layer .pop-layer .pop-header .pop-tit-wrap .pop-tit{position:relative; padding-left:0; color:#000000; font-size:20px; font-weight:600;}
.dim-layer .pop-layer .pop-header .pop-tit-wrap button{-webkit-box-flex:0; -webkit-flex-grow:0; -ms-flex-positive:0; flex-grow:0;}
.dim-layer .pop-layer .pop-header .pop-tit-wrap button i{font-size:24px;}
.dim-layer .pop-layer .pop-contns-box{position:inherit; overflow-x:hidden; overflow-y:auto; height:100%; -webkit-box-flex:1; -webkit-flex-grow:1; -ms-flex-positive:1; flex-grow:1;}
.dim-layer .pop-layer .pop-contns-box .box-inner {height: 100%; width:100%; padding:24px 32px 36px 32px;}
.dim-layer .pop-layer .pop-footer{position:relative; padding:0 32px 36px 32px;}
/*pop-inner-wide*/
.dim-layer .pop-layer .pop-contns-box .box-inner .pop-inner-wide + *{margin-top:24px;}
.dim-layer .pop-layer .pop-contns-box .box-inner .pop-inner-wide{width:calc(100% + 64px); margin-left:-32px; padding:24px 32px 32px 32px;}
.dim-layer .pop-layer .pop-contns-box .box-inner .pop-inner-wide.bg-fill{background:#f8f8f8;}
.dim-layer .pop-layer .pop-contns-box .box-inner .pop-inner-wide.bd-b{border-bottom:1px solid #ddd;}
/*no-tit*/
.dim-layer .pop-layer .pop-header.no-tit .pop-tit-wrap{border-bottom:none; text-align:right; display:block; padding-bottom:0; height:46px;}
.dim-layer .pop-layer .pop-header.no-tit + .pop-contns-box .box-inner{padding:0 32px 42px 32px;}
/*has-bottom-pop*/
.dim-layer.has-bottom-pop .pop-layer{width:100% !important; border-radius:0; width:100%; bottom:-100%; top:auto; transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1); transform: inherit; border-radius:20px 20px 0 0;}
.dim-layer.has-bottom-pop.state-opened .pop-layer{bottom:0;}
.dim-layer.has-bottom-pop .pop-layer .pop-footer{padding:0 32px 24px 32px;}
/*pop-con-tit-wrap*/
.pop-con-tit-wrap{width:100%; text-align:center;}
.pop-con-tit-wrap .pop-con-logo{text-align:center; padding-top:10px;}
.pop-con-tit-wrap .pop-con-logo > img{max-width:276px; margin:0 auto;}
.pop-con-tit-wrap .pop-con-tit{font-size:28px; font-weight:600; line-height:1.3;}
.pop-con-tit-wrap * + .pop-con-tit-desc{margin-top:12px;}
.pop-con-tit-wrap .pop-con-tit-desc{color:#777777;}
.pop-con-tit-wrap + *{margin-top:24px;}


/*===== Visual-select =====*/
.dropdown{width:auto; display:inline-block; background-color:#fff; border-bottom:6px solid #2654C9; transition:all 0.5s ease; position:relative; height:100%; text-align:left; outline:none;}
.dropdown .select{outline:none; cursor:pointer; display:block; padding:10px 0;}
.dropdown .select > span{font-size:72px; line-height:1; padding:10px 16px 10px 0; font-weight:600; color:#2654C9;}
.dropdown .select > i{font-size:72px; line-height:72px; color:#2654C9; cursor:pointer; transition:all 0.3s ease-in-out;}
.dropdown:hover{box-shadow:0 0 4px rgb(255, 255, 255);}
.dropdown:active{background-color:#ffffff;}
.dropdown.active:hover, .dropdown.active{background:#ffffff;}
.dropdown.active .select > i{transform:rotate(-180deg);}
.dropdown .dropdown-menu{position:absolute; background-color:#fff; width:100%; left: 0; margin-top:6px; box-shadow:0 1px 2px rgb(204, 204, 204); border-radius:0 1px 5px 5px; overflow:hidden; display:none; max-height:144px; overflow-y:auto; z-index:9;}
.dropdown .dropdown-menu li{padding:10px; transition:all 0.2s ease-in-out; cursor:pointer; font-weight:500;}
.dropdown .dropdown-menu{padding:0; list-style:none;}
.dropdown .dropdown-menu li:hover{background-color:#f2f2f2;}
.dropdown .dropdown-menu li:active{background-color:#e2e2e2;}


/*===== Alarm =====*/
.base-header .header-wrap .header-right .util-wrap ul.util-menu > li.alarm-on{position:relative;}
.base-header .header-wrap .header-right .util-wrap ul.util-menu > li.alarm-on .alarm-num{cursor:pointer; position:absolute; top:-4px; right:5px; min-width:18px; height:18px; line-height:18px; text-align:center; background:#ff0000; border-radius:100px; padding:0 6px; font-size:11px; letter-spacing:0; font-weight:600; color:#ffffff;}
ul.alarm-list{width:100%; word-break:keep-all;}
ul.alarm-list > li:first-child{border-top:none;}
ul.alarm-list > li{border-top:1px solid #ddd; position:relative;}
ul.alarm-list > li.has-new{font-weight:500;}
ul.alarm-list > li > a, ul.alarm-list > li > span{display:block; position:relative; padding:12px 16px;}
.pop-contns-box ul.alarm-list > li > a, .pop-contns-box ul.alarm-list > li > span{padding:10px 0;}
ul.alarm-list > li > a:hover{background:#f7f7f7;}
ul.alarm-list > li.has-new > a:after,
ul.alarm-list > li.has-new > a::after{content:'N'; color:#ff0000; font-weight:600; font-size:11px; line-height:1; display:inline-block; vertical-align:middle; margin-left:4px;}
/*popover*/
.popover-wrap{width:240px; text-align:left; position: absolute; visibility:hidden; top:36px; left:50%; margin-left:-120px; opacity:0; z-index:1; transition: all .3s linear; -webkit-box-shadow: 0 5px 10px rgb(0 0 0 / 10%); -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.1); box-shadow: 0 5px 10px rgb(0 0 0 / 10%);}
.popover-wrap.active{opacity:1; top:45px; visibility:visible;}
.popover-overflow{border: 1px #cccccc solid; border-radius:5px; overflow:hidden;}
.popover-overflow:before, .popover-overflow::before{content:''; border:15px solid transparent; position:absolute; top: -25px; left:50%; margin-left:-15px; border-bottom-color: #cccccc;}
.popover-overflow:after, .popover-overflow::after{content:''; border:15px solid transparent; position:absolute; top: -24px; left:50%; margin-left:-15px; border-bottom-color: #2654C9;}
.popover-header{height:34px; line-height:34px; font-weight:500; padding:0 16px; font-size:15px;background:#2654C9; color:#FFFFFF; border-bottom:1px solid #eaeaea; position:relative; z-index:1;}
.popover-header .popover-close{position:absolute; top:50%; right:0; transform:translateY(-50%);}
.popover-header .popover-close i{font-size:16px !important; color:#fff;}
.popover-content {max-height:260px; overflow-y:auto; background:#fff; height: 100%; font-size:15px; position:relative; z-index:1;}


/*===== Sitemap =====*/
.sitemap-open .base-wrap .base-header{border-bottom:1px solid #ddd;}
.sitemap-open .base-header .header-wrap .header-right .util-wrap ul.util-menu > li:last-child .ui-btn .ri-menu-3-line:before{content:"\EB99";}
.sitemap-open .base-header .header-wrap .header-right .util-wrap ul.util-menu > li.sitemap-show{display:inline-block !important;}
.sitemap-open .sitemap-new{display:inline-block !important;}
.sitemap-open .sitemap-show{display:inline-block !important;}
.base-header .header-wrap .header-right .util-wrap ul.util-menu .mo-show{display:none !important;}
/*sitemap-overlay*/
.sitemap-overlay{text-align:left; display:none; opacity: 0; background:#f9f9f9; position: absolute; top: 68px; left: 0; width: 100%; height: calc(100vh - 68px); overflow: hidden; -webkit-transition: all ease-in-out 0.3s; -o-transition: all ease-in-out 0.3s; transition: all ease-in-out 0.3s;}
.sitemap-overlay.open{opacity:1; display:table; width: 100%; -webkit-transition: all ease-in-out 0.3s; -o-transition: all ease-in-out 0.3s; transition: all ease-in-out 0.3s;}
.sitemap-overlay .sitemap-wrap{width:100%; height:100%; overflow-y:auto; padding:15vh 60px;}
.sitemap-overlay .sitemap-top,
.sitemap-overlay .sitemap-bottom{width:100%; max-width:1000px; margin:0 auto; display:table; table-layout:fixed;}
.sitemap-overlay .sitemap-top > .left,
.sitemap-overlay .sitemap-bottom > .company-info{display:table-cell; vertical-align:top}
.sitemap-overlay .sitemap-top > .right,
.sitemap-overlay .sitemap-bottom > .sns-wrap{width:330px; display:table-cell; vertical-align:bottom}
.sitemap-overlay .sitemap-top > .right > ul{width:100%;}
.sitemap-overlay .sitemap-top > .right > ul > li{width:100%; margin-top:12px;}
.sitemap-overlay .sitemap-top > .right > ul > li:first-child{margin-top:0;}
.sitemap-overlay .sitemap-top > .right > ul > li > a{display:block; font-weight:500; font-size:20px; color:#777; transition:all 0.2s;}
.sitemap-overlay .sitemap-top > .right > ul > li > a:hover{color:#000;}
nav.overlay-menu{width:100%;}
nav.overlay-menu > ul{width:100%;}
nav.overlay-menu > ul > li{width:100%; line-height:1; margin-top:42px;}
nav.overlay-menu > ul > li:first-child{margin-top:0;}
nav.overlay-menu > ul > li > a{font-size:56px; font-weight:600; position:relative;}
nav.overlay-menu > ul > li > a:before,
nav.overlay-menu > ul > li > a::before{content:''; position:absolute; bottom:-2px; left:0; width:0; height:8px; background:#2654C9; transition:all 0.5s;}
nav.overlay-menu > ul > li > a:hover:before,
nav.overlay-menu > ul > li > a:hover::before{width:100%; transition:all 0.5s;}
.sitemap-overlay .sitemap-bottom{margin-top:100px; font-size:14px; color:#444;}
.sitemap-overlay .sitemap-bottom .company-info{width:100%;}
.sitemap-overlay .sitemap-bottom .company-info .info{width:100%;}
.sitemap-overlay .sitemap-bottom .company-info .info > ul{width:100%; margin-top:6px;}
.sitemap-overlay .sitemap-bottom .company-info .info > ul > li{display:inline-block; vertical-align:top; margin-right:16px; font-weight:500;}
.sitemap-overlay .sitemap-bottom .company-info .info > ul > li:last-child{margin-right:0;}
.sitemap-overlay .sitemap-bottom .company-info .copyright{font-size:12px; color:#a1a1a1; letter-spacing:0; margin-top:12px;}
.sitemap-overlay .sitemap-bottom > .sns-wrap{vertical-align:bottom;}  
.sitemap-overlay .sitemap-bottom > .sns-wrap > ul{width:100%;}
.sitemap-overlay .sitemap-bottom > .sns-wrap > ul > li{display:inline-block; vertical-align:top; margin:2px 0; margin-right:16px;}
.sitemap-overlay .sitemap-bottom > .sns-wrap > ul > li:last-child{margin-right:0;}
.sitemap-overlay .sitemap-bottom > .sns-wrap > ul > li > a{display:block; font-size:14px; letter-spacing:0;}
.sitemap-overlay .sitemap-bottom > .sns-wrap > ul > li > a:hover{font-weight:500;}
.sitemap-overlay .sitemap-bottom > .sns-wrap > ul > li > a > i{vertical-align:middle; margin-right:6px; font-weight:400;}


/*===== Cart-wrap =====*/
.cart-wrap{position:fixed; top:0; right:-400px; width:400px; transition:all 0.5s; border-left:1px solid #ddd; height:100vh; background:#fff; z-index:1; display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex; -webkit-box-orient:vertical; -webkit-flex-direction:column; -ms-flex-direction:column; flex-direction:column;}
.cart-wrap.cart-on{box-shadow:2px 0 18px rgb(0 0 0 / 20%); right:0; transition:all 0.5s;}
/*cart-top-tit*/
.cart-wrap .cart-top-tit{background:#414858; color:#ffffff; font-size:20px; font-weight:500; padding:12px 16px; display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex; -webkit-box-align:center; -webkit-align-items:center; -ms-flex-align:center; align-items:center; -webkit-box-flex:0; -webkit-flex-grow:0; -ms-flex-positive:0; flex-grow:0;}
.cart-wrap .cart-top-tit > .ui-btn{padding:0; margin-right:10px; -webkit-box-flex:0; -webkit-flex-grow:0; -ms-flex-positive:0; flex-grow:0;}
.cart-wrap .cart-top-tit > .ui-btn > i{font-size:24px; line-height:1; color:#ffffff;}
.cart-wrap .cart-top-tit > .tit-text{-webkit-box-flex:1; -webkit-flex-grow:1; -ms-flex-positive:1; flex-grow:1; flex-basis:0;}
/*cart-top*/
.cart-wrap .cart-top{width:100%; -webkit-box-flex:0; -webkit-flex-grow:0; -ms-flex-positive:0; flex-grow:0;}
.cart-wrap .cart-top .cart-tit{padding:12px 16px; border-bottom:1px solid #ddd; display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex; -webkit-box-align:center; -webkit-align-items:center; -ms-flex-align:center; align-items:center; -webkit-box-flex:0; -webkit-flex-grow:0; -ms-flex-positive:0; flex-grow:0;}
.cart-wrap .cart-top .cart-tit .btn-xsmall{padding:0 12px;}
.cart-wrap .cart-top .cart-tit .form-check{-webkit-box-flex:1; -webkit-flex-grow:1; -ms-flex-positive:1; flex-grow:1;}
.cart-wrap .cart-top .cart-tit label > span{font-weight:500; font-size:17px;}
/*cart-con*/
.cart-wrap .cart-con{padding:12px 12px 0 12px; overflow-y:auto; background:#efefef; -webkit-box-flex:1; -webkit-flex-grow:1; -ms-flex-positive:1; flex-grow:1;}
.cart-wrap .cart-con ul.cart-con-list{width:100%;}
.cart-wrap .cart-con ul.cart-con-list > li:first-child{margin-top:0;}
.cart-wrap .cart-con ul.cart-con-list > li{background:#ffffff; margin-top:8px; padding:12px 16px 16px 16px; border-top:1px solid #efefef; border-bottom:1px solid #efefef;}
.pd-info{width:100%;}
.pd-info .pd-tit{padding:0; display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex;}
.pd-info .pd-tit .form-check{-webkit-box-flex:1; -webkit-flex-grow:1; -ms-flex-positive:1; flex-grow:1;}
.pd-info .pd-tit .form-check label > span{font-weight:500;}
.pd-info .pd-tit .form-check label > span a{text-decoration:underline;}
.pd-info .pd-tit .only-icon-btn{padding:0 0; font-size:20px;}
.pd-info .pd-tit .only-icon-btn i{font-size:20px; color:#777;}
.pd-info .pd-con{padding:0 10px; padding-left:38px; margin-top:6px;}
.pd-info .pd-con *{font-size:14px;}
.pd-info .pd-con .bul-round + .define-list-wrap{margin-top:12px; padding-top:12px; border-top:1px dashed #ddd;}
.pd-info .pd-con .define-list-wrap .won{font-size:13px;}
.pd-info .pd-con .define-list-wrap .point-area dt,
.pd-info .pd-con .define-list-wrap .point-area dd{font-size:15px;}
.pd-info .won{font-size:14px; font-weight:400; margin-left:2px; vertical-align:middle; display:inline-block;}
/*cart-bottom*/
.cart-wrap .cart-bottom{width:100%; border-top:12px solid #efefef; -webkit-box-flex:0; -webkit-flex-grow:0; -ms-flex-positive:0; flex-grow:0;}
.cart-wrap .cart-bottom > .btn-primary{border-radius:0; width:100%;}
.cart-wrap .cart-bottom .cart-in-info{width:100%; padding:12px 24px; background:#f8f8f8;}
.cart-wrap .cart-bottom .cart-in-info > i{font-size:24px; vertical-align:middle; margin-right:12px;}
.cart-wrap .cart-bottom .cart-in-info .badge{background:#ff9800; font-size:16px; font-weight:500; padding:0; width:26px; height:26px; line-height:26px; text-align:center; margin-right:4px; vertical-align:middle;}
.cart-wrap .cart-bottom .define-list-wrap{padding:16px 24px 24px 24px; border-top:1px solid #ddd;}
.cart-wrap .cart-bottom .define-list-wrap > dl.point-area > dt{font-weight:600;}
.cart-wrap .cart-bottom .define-list-wrap > dl.point-area > dd{font-weight:600; font-size:20px;}
.cart-wrap .cart-bottom .define-list-wrap .point-area{padding-top:12px; margin-top:12px; border-top:1px solid #ddd; -webkit-box-align:center; -webkit-align-items:center; -ms-flex-align:center; align-items:center;}
.cart-wrap .cart-bottom .define-list-wrap .won{font-size:14px; font-weight:400; margin-left:2px; vertical-align:middle; display:inline-block;}
.cart-wrap .cart-bottom .pd-num{color:#ffd51f; margin:0 2px;}
/*cart-open-btn*/
.cart-float{position:fixed; bottom:24px; right:24px; transition:all 0.3s;}
.cart-float:hover{bottom:28px;}
.cart-float .cart-badge{background:#ff9800; font-size:14px; font-weight:600; line-height:24px; min-width:24px; height:24px; padding:0 6px; position:absolute; top:-4px; right:-4px; display:inline-block; text-align:center; border-radius:100px; color:#ffffff;}
.cart-float .cart-open-btn{background:#2654C9; width:60px; height:60px; line-height:60px; border-radius:100px; text-align:center; transition:all 0.3s; box-shadow:0px 8.9px 8.25px -4.62px rgb(0 0 0 / 14%), 0px 15px 22.5px 2.1px rgb(0 0 0 / 6%), 0px 6.5px 30px 5px rgb(0 0 0 / 6%);}
.cart-float .cart-open-btn:hover{background:#235ff5;}
.cart-float .cart-open-btn i{font-size:24px; color:#ffffff;}




/*========== Responsive ==========*/
@media screen and (min-width:1921px) {
    /*main*/
    .base-index .main-visual .visual-tit{margin-top:-2vw; padding:0 12vw;}
    .base-index .main-visual .visual-tit .tit-top .area-sel-wrap .key-txt,
    .dropdown .select > span,
    .dropdown .select > i{font-size:78px;}
    .dropdown .select > i{line-height:78px;}
    .base-index .main-visual .visual-tit .tit-top .visual-sub-txt{font-size:22px; margin-top:3.5vh;}
    .base-index .main-visual .visual-tit .tit-top + .btn-wrap{margin-top:7.5vh;}
    .base-index .main-visual .visual-img img{width:900px;}
    .base-index .main-visual .visual-img{right:12vw; bottom:10vh;}
    
    
}

/*===== PC ~ Tablet =====*/
@media screen and (min-width: 1024px) and (max-width: 1919px), (max-width: 1023px) {
    /*main*/
    .base-index .main-visual .visual-tit{margin-top:-4vw; padding:0 8vw;}
    .base-index .main-visual .visual-tit .tit-top .area-sel-wrap .key-txt{margin-top:12px;}
    .base-index .main-visual .visual-tit .tit-top .area-sel-wrap .key-txt,
    .dropdown .select > span,
    .dropdown .select > i{font-size:58px;}
    .dropdown .select > i{line-height:58px;}
    .base-index .main-visual .visual-tit .tit-top .visual-sub-txt{font-size:20px; margin-top:3.5vh;}
    .base-index .main-visual .visual-tit .tit-top + .btn-wrap{margin-top:7.5vh;}
    .base-index .main-visual .visual-img img{width:45vw;}
    .base-index .main-visual .visual-img{right:8vw; bottom:10vh;}
    .dropdown .select{padding:1.2vh 0;}
    .area-sel-depth{margin-top:16px;}
    
}
@media screen and (min-width: 1024px) and (max-width: 1600px), (max-width: 1023px) {
    .base-wrap .base-container .full-content > .side-con-wrap{width:360px; padding:114px 50px 0 50px;}
    .base-wrap .base-container .full-content > .con-wrap{margin-left:360px; padding:46px 60px 80px 60px;}
}
@media screen and (min-width: 1024px) and (max-width: 1400px), (max-width: 1023px) {
    .base-wrap .base-container .sub-content{padding-left:32px; padding-right:32px;}
    .base-wrap .base-container .full-content > .side-con-wrap{display:none;}
    .base-wrap .base-container .full-content > .con-wrap{margin-left:0; padding:24px 32px 60px 32px;}

}


/*===== Tablet =====*/
@media screen and (min-width: 768px) and (max-width: 1023px), (max-width: 767px) {
    /*common*/
    .mo-hide{display:none !important;}
    .mo-show{display:block !important;}
    /*sitemap*/
    .base-header .header-wrap .header-right .util-wrap ul.util-menu > li.mo-show{display:inline-block !important;}
    .sitemap-open .base-header .header-wrap .header-right .util-wrap ul.util-menu .mo-show{display:inline-block !important;}
    .sitemap-open .base-header .header-wrap > *.header-left{display:none;}
    .sitemap-overlay .sitemap-wrap{display:block; padding:32px 32px;}
    .sitemap-overlay .sitemap-top > .left, .sitemap-overlay .sitemap-bottom > .company-info{display:block; width:100%;}
    .sitemap-overlay .sitemap-top, .sitemap-overlay .sitemap-bottom{display:block; width:100%;}
    .sitemap-overlay .sitemap-top > .right, .sitemap-overlay .sitemap-bottom > .sns-wrap{display:block; width:100%;}
    nav.overlay-menu > ul > li > a{font-size:26px;}
    nav.overlay-menu > ul > li > a:before, nav.overlay-menu > ul > li > a::before{bottom:-3px; height:4px;}
    nav.overlay-menu > ul > li{margin-top:24px;}
    .sitemap-overlay .sitemap-top > .right{margin-top:32px;}
    .sitemap-overlay .sitemap-top > .right > ul > li > a{font-size:17px;}
    .sitemap-overlay .sitemap-top > .right > ul > li{margin-top:10px;}
    .sitemap-overlay .sitemap-bottom{margin-top:54px;}
    .sitemap-overlay .sitemap-bottom > .sns-wrap{margin-top:24px;}

    /*main*/
    .base-index .main-visual .visual-tit .tit-top + .btn-wrap button{min-width:auto;}
    .base-index .main-visual .visual-tit{top:10vh; transform:none; padding:0; text-align:center;}
    .base-index .main-visual .visual-tit .tit-top .area-sel-wrap .key-txt{margin-top:1vh;}
    .base-index .main-visual .visual-tit .tit-top .area-sel-wrap .key-txt,
    .dropdown .select > span,
    .dropdown .select > i{font-size:44px;}
    .dropdown .select > i{line-height:44px;}
    .base-index .main-visual .visual-tit .tit-top .area-sel-wrap .area-sel-depth .key-txt,
    .area-sel-depth .dropdown .select > span,
    .area-sel-depth .dropdown .select > i{font-size:32px;}
    .area-sel-depth .dropdown .select > i{line-height:32px;}
    .area-sel-depth .dropdown .select{padding:6px 2px;}
    .base-index .main-visual .visual-tit .tit-top .visual-sub-txt{font-size:16px; margin-top:1.5vh;}
    .base-index .main-visual .visual-tit .tit-top + .btn-wrap{margin-top:4.5vh;}
    .base-index .main-visual .visual-img img{width:100%;}
    .base-index .main-visual .visual-img{width:50vh; margin:0 auto; position:absolute; bottom:6vw; right:50%; transform:translateX(50%);}
    .dropdown{border-bottom:4px solid #2654C9}
    .dropdown .select{padding:6px 0;}
    /*popup*/
    .dim-layer .pop-layer{width:94% !important;}
    .dim-layer .pop-layer .pop-header .pop-tit-wrap .pop-tit{font-size:18px;}
    .dim-layer .pop-layer .pop-header .pop-tit-wrap{padding:12px 20px;}
    .dim-layer .pop-layer .pop-contns-box .box-inner{padding:20px 24px 32px 24px;} 
    .dim-layer .pop-layer .pop-contns-box .box-inner .pop-inner-wide{padding:24px 24px 32px 24px; width: calc(100% + 48px); margin-left: -24px;}
    .dim-layer .pop-layer .pop-footer{padding:0 24px 32px 24px;}
    .dim-layer .pop-layer .pop-header.no-tit + .pop-contns-box .box-inner{padding:0 24px 36px 24px;} 
    .dim-layer.has-bottom-pop .pop-layer .pop-footer{padding:0 24px 24px 24px;}
    /*pop-con-tit-wrap*/
    .pop-con-tit-wrap .pop-con-tit{word-break:keep-all; font-size:26px;}
    .pop-con-tit-wrap .pop-con-tit-desc{word-break:keep-all;}
    /*sub-content*/
    .base-wrap .base-container .sub-content{padding-top:24px; padding-bottom:60px;}
    .base-header .header-wrap .header-right .util-wrap ul.util-menu > li{margin:0;}
    
}

/*===== Mobile =====*/
@media all and (min-width:480px) and (max-width:767px), (max-width: 479px) {
    .dropdown .dropdown-menu li{font-size:14px;}
    .base-index .main-visual .visual-tit .tit-top .area-sel-wrap .key-txt,
    .dropdown .select > span,
    .dropdown .select > i{font-size:32px;}
    .dropdown .select > i{line-height:32px;}
    .dropdown .select{padding:4px 0;}
    .dropdown .select > span{padding:0;}
    .base-index .main-visual .visual-tit .tit-top .area-sel-wrap .area-sel-depth .key-txt,
    .area-sel-depth .dropdown .select > span,
    .area-sel-depth .dropdown .select > i{font-size:24px;}
    .area-sel-depth .dropdown .select > i{line-height:24px;}
    .area-sel-depth .dropdown .select{padding:4px 2px;}
    .base-index .main-visual .visual-tit .tit-top .visual-sub-txt{display:none;}
    .base-index .main-visual .visual-tit .tit-top + .btn-wrap{margin-top:3.5vh;}
    .base-index .main-visual .visual-img{width:86%; margin:0 auto;}
    /*pop-con-tit-wrap*/
    .pop-con-tit-wrap .pop-con-tit{font-size:24px;}
    .pop-con-tit-wrap .pop-con-logo > img{max-width:230px;}
    /*cart-wrap*/
    .cart-wrap{width:100%; right:-100%;}
    .cart-wrap.cart-on{right:0;}
    .cart-wrap .cart-top-tit > .tit-text{font-size:18px;}
    .cart-wrap .cart-bottom .define-list-wrap{padding:16px 24px 16px 24px;}
    .cart-wrap .cart-bottom .cart-in-info{font-size:15px;}
    .cart-wrap .cart-bottom .ui-btn.btn-xlarge{height:60px;}
    .cart-wrap .cart-bottom .ui-btn.btn-xlarge > *{font-size:18px;}
    .cart-wrap .cart-top .cart-tit label > span{font-size:16px !important;}
    .pd-info .pd-tit .form-check label > span{font-size:15px !important;}
}

@media all and (max-width:479px) {
    
}


@media all and (max-width:360px) {
    .base-index .main-visual .visual-tit .tit-top .area-sel-wrap .key-txt,
    .dropdown .select > span, .dropdown .select > i{font-size:28px;}
}

/*height*/
@media all and (max-height:639px) {
    .cart-wrap{display:block; overflow-y:auto;}
}


